<%- include('header') %>

<div class="item item3 main ">
    <div class="container welcome templates" ><!--welcome css working in this-->
        <br/><br/><br/><br/>
        <h2>All Categories</h2>

        <% if(msg != '') { %>
            <h2><%= msg %></h2>
        <% } %>
        

        <div class="categories" id="categoriescontent">
            
            <div class="row">                
                
                <% if(allCategoriesData.length > 0) { %>
                    <% allCategoriesData.forEach(function(item) { %>
    
              <div class="column col-1">
                <ul>
                  <li>
                    <figure>
                      <figcaption>
                        <a href="/soil"><strong><%= item.CategoryName %></strong></a>
                        
                      </figcaption>
                      
                      <img onclick="location.href='/<%= item.CategoryName %>'" src="./uploads/<%= item.CategoryImageName %>" alt="Soil" style="width:90%; height: 320px;">
                      <figcaption>
                        <a href="#" style="font-size: 1.25em;"><strong>Id: <%= item._id %></strong></a>
                      </figcaption>
                      
                      <hr/>
                    </figure>
                  </li>
                </ul>
              </div>
              <% }) %>
            </div>
    
    
            
          </div>

          
                    
    <% } else { %>
        <h3 style="text-align: center;"><%= 'No Category Available' %></h3>
    <% } %>
    
        
        
                        
    </div>
</div>


<%- include('footer') %>




