<%- include('dashboardheaderadmin') %>

<div class="item item3 main ">
    <div class="container welcome admin" ><!--welcome css working in this-->
       
        
        <h2>Dashboard Admin</h2>
        <h4>
            
                    <strong>Logged in As: </strong>
                    <a href="#" style="color: whitesmoke;" class="loggedinas">
                        
                        <em style="color: rgb(71, 157, 255);">
                          <% if(loginUser){ %>  
                            <%= loginUser %> 
                          <% } %>
                          </em> 
                    </a>                     
                              
               
                    <form action="/signout" method="post" role="form">
                      <button class="signoutBtn" type="submit"><i style="color: rgb(71, 157, 255);">Sign out</i></button>
                    </form>              
               
        
        </h4>
        <% if(msg != '') {%> 
            <h1 style="color: #17252A"> <%= msg %> </h1>  
        <% } %>
        <h3>Add New Category</h3>
        <div class="form-class" id="addnewcategory">
            <form action="/dashboardadmin/addcategory" method="post" role="form" enctype="multipart/form-data">
                <label>Category Name</label><br/>
                <input name="categoryname" type="text" placeholder="Enter Category Name..."/><br/>
                
                <label>Category Image</label><br/>
                <input style="background-color: #DEF2F1;" name="categoryimage" type="file" placeholder="Upload Image"/><br/>

                <br/>
                <div class="form-button">
                    <button type="submit">Add Category</button>
                    <br/>
                    <button type="reset">Reset</button><br/><br/>
                  </div>
            </form>
        </div>
          

        <h3>Add New Product</h3>
        
            
         
        <div class="form-class" id="addnewproduct">
            <form action="/dashboardproductsadmin/addproduct" method="post" role="form" enctype="multipart/form-data">
                <label>Choose Category</label><br/>
                
                <select name="selectcategory" id="categories"> 
                  <% if(allCategoriesData.length > 0 ) { %>
                    <% allCategoriesData.forEach((item) => { %>                 
                  <option value="<%= item.CategoryName %>"><%= item.CategoryName %></option>
                  <% }) %>
                <% } %>
                </select>
                
                <br/>
                
                <label>New Product Name</label><br/>
                <input name="productname" type="text" placeholder="Enter Product Name..."/><br/>

                <label>Product Dimensions</label><br/>
                <input name="productdimensions" type="text" placeholder="Enter Product Dimensions..."/><br/>

                <label>Product First Available</label><br/>
                <input name="productfirstavailable" type="date" placeholder="Product First Available..."/><br/>

                <label>Product Manufacturer</label><br/>
                <input name="productmanufacturer" type="text" placeholder="Product Manufacturer..."/><br/>

                <label>ASIN</label><br/>
                <input name="asin" type="text" placeholder="ASIN..."/><br/>

                <label>Item Model Number</label><br/>
                <input name="itemmodelnumber" type="text" placeholder="Enter Item Model NUmber..."/><br/>

                <label>Item Dimensions LxWxH</label><br/>
                <input name="itemdimensions" type="text" placeholder="Upload Image"/><br/>

                <label>Product Image</label><br/>
                <input style="background-color: #DEF2F1;" name="productimage" type="file" placeholder="Upload Image"/><br/>

                <label>Description</label><br/>
                <textarea name="description">

                </textarea><br/>

                <label>Product Price</label><br/>
                <input name="productprice" type="text" placeholder="Product Price...."/><br/>


                <br/>
                <div class="form-button">
                    <button type="submit">Add Product</button>
                    <br/>
                    <button type="reset">Reset</button><br/><br/>
                </div>
            </form>
        </div>

    </div> 
</div>

<%- include('dashboardfooteradmin') %>




