
<%- include('header')  %>
<div class="item2"></div>

<div class="item item3 main">
    <div class="container welcome" id="homecontent"> <!--welcome div--> 
              <% if(msg != '') {%> 
                <h2 style="color: red; padding-top: 4em;"> <%= msg %> </h2>  
              <% } %>
               <h4 style="margin-top: 5em;"><a href="#" style="color: red; padding-top: 5em;">Please Note: Web Site Under Construction! All Services will be available soon! Cheers :)</a></h4>
               
               
               <!--
               <section>
                <img class="mySlides fade" src="/images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;">
                <img class="mySlides fade" src="images/pexels-pixabay-38519.jpg" style="width:100%; height: 400px;">
                <img class="mySlides fade" src="/images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;">

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                </div>
              </section>
-->
               <!---->
              <div class="slideshow-container1" ><!--Slideshow-container1 starts-->

                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">1 / 3</div>
                  <a href="/categories"><img src="/images/slideshow1.jpg" style="width:100%; height: 280px;" class="responsive" /></a>

                  <div class="text1">                    
                    <h1><a href="/categories" style="margin: 0; padding: 0;">Categories</a></h1>
                  </div>
                </div><!--myslides1 ends-->
                
                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">2 / 3</div>
                  <a href="/products"><img src="images/slideshow2.jpg" style="width:100%; height: 280px;" class="responsive" /></a>

                  <div class="text1">                    
                    <h1><a href="/products" style="margin: 0; padding: 0;">Products</a></h1>
                  </div>
                </div><!--myslides1 ends-->


                <div class="myslides1 fade1"><!--myslides1 starts-->
                  <div class="numbertext1">3 / 3</div>
                  <a href="/contact"><img src="/images/slideshow3.jpg" style="width:100%; height: 280px;" class="responsive" /></a>

                  <div class="text1">                    
                    <h1><a href="/contact" style="margin: 0; padding: 0;">Contact</a></h1>
                  </div>
                </div><!--myslides1 ends-->


                <a class="prev1" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next1" onclick="plusSlides(1)">&#10095;</a>
                
              </div><!--Slideshow-container1 ends-->
       
                <br>
                
                <div style="text-align:center">
                  <span class="dot1" onclick="currentSlide(1)"></span> 
                  <span class="dot1" onclick="currentSlide(2)"></span> 
                  <span class="dot1" onclick="currentSlide(3)"></span> 
                  

                </div>

                <script>
                  var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("myslides1");
            var dots = document.getElementsByClassName("dot1");
            if (n > slides.length) {
              slideIndex = 1
            }
            if (n < 1) {
              slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active1", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active1";
          }
                          </script>
                  <!--     
               <div class="slideshow-container">

                <div class="mySlides fade">
                  <div class="numbertext">1 / 9</div>
                  <a href="/categories"><img src="/images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;" class="responsive"></a>
                  <div class="text">
                    
                    <h1><a href="/categories" style="margin: 0; padding: 0;">Search By Categories</a></h1>
                                       
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">2 / 9</div>
                  <a href="/products"><img src="images/pexels-pixabay-38519.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    <h1 style="margin: 0; padding: 0;"><a href="/products" style="margin: 0; padding: 0;">Search By Products</a></h1>
                   
                   
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">3 / 9</div>
                  <a href="/#aboutcontent"><img src="images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    <h1 style="margin: 0; padding: 0;"><a href="/#aboutcontent" style="margin: 0; padding: 0;">About</a></h1>

                   
                  </div>
                </div>

                <div class="mySlides fade">
                  <div class="numbertext">4 / 9</div>
                  <a href="/faq"><img src="images/pexels-pixabay-38519.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    
                    <h1 style="margin: 0; padding: 0;"><a href="/faq" style="margin: 0; padding: 0;">FAQ</a></h1>
                   
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">5 / 9</div>
                  <a href="/help"><img src="images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    <h1  style="margin: 0; padding: 0;"><a href="/help" style="margin: 0; padding: 0;">Help</a></h1>
                                     
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">6 / 9</div>
                  <a href="/affiliatemarketing"><img src="images/pexels-pixabay-38519.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    <h1 style="margin: 0; padding: 0;"><a href="/affiliatemarketing" style="margin: 0; padding: 0;">Affiliate Marketing</a></h1>

                   
                  </div>
                </div>

                <div class="mySlides fade">
                  <div class="numbertext">7 / 9</div>
                  <a href="/signup"><img src="images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    
                    <h1 style="margin: 0; padding: 0;"><a href="/signup" style="margin: 0; padding: 0;">Sign Up</a></h1>
                    
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">8 / 9</div>
                  <a href="/signin"><img src="images/pexels-pixabay-38519.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    <h1 style="margin: 0; padding: 0;"><a href="/signin" style="margin: 0; padding: 0;">Sign in</a></h1>
                  
                  </div>
                </div>

                <div class="mySlides fade">
                  <div class="numbertext">9 / 9</div>
                  <a href="/contact"><img src="images/pexels-tima-miroshnichenko-5717546.jpg" style="width:100%; height: 400px;"></a>
                  <div class="text">
                    <h1 style="margin: 0; padding: 0;"><a href="/contact" style="margin: 0; padding: 0;">Contact Us</a></h1>

                   
                  </div>
                </div>
             
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
                </div>
                <br>
                
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span> 
                  <span class="dot" onclick="currentSlide(2)"></span> 
                  <span class="dot" onclick="currentSlide(3)"></span> 
                  <span class="dot" onclick="currentSlide(4)"></span> 
                  <span class="dot" onclick="currentSlide(5)"></span> 
                  <span class="dot" onclick="currentSlide(6)"></span> 
                  <span class="dot" onclick="currentSlide(7)"></span> 
                  <span class="dot" onclick="currentSlide(8)"></span> 
                  <span class="dot" onclick="currentSlide(9)"></span> 

                </div>
 -->
                <!--
                <script>
                  /*
                  var autoSlideIndex = 0;
                  autoShowSlides();
                  
                  function autoShowSlides() {
                  var i;
                  var autoSlides = document.getElementsByClassName("mySlides");
                  var dots = document.getElementsByClassName("dot");
                  for (i = 0; i < autoSlides.length; i++) {
                    autoSlides[i].style.display = "none";  
                  }
                  autoSlideIndex++;
                  if (autoSlideIndex > autoSlides.length) {autoSlideIndex = 1}    
                  for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                  }
                  autoSlides[autoSlideIndex-1].style.display = "block";  
                  dots[autoSlideIndex-1].className += " active";
                  setTimeout(autoShowSlides, 3800); // Change image every 2 seconds
                }

                  //
                  var slideIndex = 1;
                  showSlides(slideIndex);
                  function plusSlides(n) {
                    showSlides(slideIndex += n);
                  }
                  
                  function currentSlide(n) {
                    showSlides(slideIndex = n);
                  }
                  
                  function showSlides(n) {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {slideIndex = 1}    
                    if (n < 1) {slideIndex = slides.length}
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex-1].style.display = "block";  
                    dots[slideIndex-1].className += " active";
                    
                  }
                  */
                  </script>
                -->

               <!---->


               <!--
               <h1><a href="/getstarted">Get Started</a></h1>
               <h2 class="homepage-slogan">Take your Small Business to the Next Level</h2>
               <div class="row">           
                <div class="column column-left">
                  <h3><a href="/getstarted" style="text-decoration: none;">Start Building a Website</a></h3>
                  <h3><a href="/#howitworkscontent" style="text-decoration: none;">Let's Make it Easy</a></h3>
                  <h3><a href="/#first-timers" style="text-decoration: none;">First Timers</a></h3>
                  <h3><a href="/#old-customers" style="text-decoration: none;">Old Customers</a></h3>
                                                 
                </div>
                <div class="column column-right">
                  <h3><a href="/startearning" style="text-decoration: none;">Start Earning</a></h3>
                  <h3><a href="/templates" style="text-decoration: none;">Templates</a></h3>
                  <h3><a href="#" onclick="openSignInModal()" style="text-decoration: none;">Find Freelancer</a></h3>
                  <h3><a href="/specialoffers" style="text-decoration: none;">Special Offers</a></h3>   
                  -->                  
                  <!-- <h3><a href="#" onclick="openContactModal()" style="text-decoration: none;">Ask Us</a></h3> -->                     
                <!--</div> -->
         <!-- </div>--> <!--row div ends-->
    </div><!--welcome div ends here-->
      
     
     <!-- About Content Stats here-->
     
      <div class="about" id="aboutcontent">
          <h2>About</h2>
          <p>
            We are Elite Basket. We care for your plants. We deal in various types of soils and composts. You just need to tell us your requirements and we are there for you. We are only <strong><em><a href="/contact">One Step</a></em></strong> away from you. More you will go through our website, more you will know about us.<br/><br/>
            Cheers :)
          </p>
          
      </div>

      <div class="about" id="whyuscontent">
        <h2>Why Us</h2>
        <p>
          Because, We are the best and we believe in quality. We are unique and our prices are effordable. Our service is fast, so you don't have to wait for ages.
        </p>
        
    </div>
    
    <div class="categories" id="categoriescontent">
      <h2>All Categories</h2>
      <div class="row">                
          
          <% if(allCategoriesData.length > 0) { %>
              <% allCategoriesData.forEach(function(item) { %>

        <div class="column col-1">
          <ul>
            <li>
              <figure>
                <figcaption>
                  <a href="/soil"><strong><%= item.CategoryName %></strong></a>
                  
                </figcaption>
                
                <img onclick="location.href='/<%= item.CategoryName %>'" src="./uploads/<%= item.CategoryImageName %>" alt="Soil" style="width:90%; height: 320px;">
                <figcaption>
                  <a href="#" style="font-size: 1.25em;"><strong>Id: <%= item._id %></strong></a>
                </figcaption>
                
                <hr/>
              </figure>
            </li>
          </ul>
        </div>
        <% }) %>
      </div>


      
    </div>

    
              
<% } else { %>
  <h3 style="text-align: center;"><%= 'No Category Available' %></h3>
<% } %>
        <!-- About Content ends here-->

        <!-- Services Content Stats here-->
        <!--
     <div class="categories" id="categoriescontent">
          <h2>Categories</h2>
          
          <div class="row">
            <div class="column column-left">
                      <ul>
                <li><a href="/soil">Soil</a></li>
                 
              </ul>                
            </div>
            <div class="column column-right">
                
                <ul>
                  <li><a href="/compost">Compost</a></li>
                  
                </ul> 
            </div>
          </div>
          
            <h4 style="text-align: center; margin: auto;">Didn't find the right product, you are looking for? <a href="/#productscontent">Search by Products</a></h4>
            
        </div>  
        -->                      
        <!-- Services Content ends here-->            
            
       
</div> <!--main div ends here-->    
    
<div class=" item4"></div>



<%- include('footer') %> 